{% extends 'include/homepage.html'%}
{% load static %}
{% block content %}

    <!-- Header Wrapper End -->
    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>{{job.title}}</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="{% url 'index' %}">Главная страница </a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="{% url 'index' %}">Вакансии</a> <i class="fa fa-angle-right"></i></li>
                                    <li>{{jobs.title}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp listing Single cont Wrapper Start -->
    <div class="jp_listing_single_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="jp_listing_left_sidebar_wrapper">
                        <div class="jp_job_des">
                            <h2>ОПИСАНИЕ </h2>
                            <p>{{job.description}}</p>
                        </div>
                        <div class="jp_job_res">
                            <h2>ОБЯЗАННОСТИ</h2>
                            <ul>
                                <li><i class="fa fa-caret-right"></i>{{job.responsiblities|safe}}</li>
                            </ul>
                        </div>
                        <div class="jp_job_res jp_job_qua">
                            <h2>Ожидания</h2>
                            <ul>
                                <li><i class="fa fa-caret-right"></i>{{job.expectations|safe}}</li>
                            </ul>
                        </div>

                    </div>
                    <div class="jp_listing_related_heading_wrapper">
                        <h2>ПОХОЖИЕ ВАКАНСИИ</h2>
                        <div class="jp_listing_related_slider_wrapper">
                            {% for jobs in jobs_category%}
                                <div class="owl-carousel owl-theme">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                                                    <div class="jp_job_post_main_wrapper">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <div class="jp_job_post_side_img">
                                                                    <img src="{{jobs.image.url}}" alt="post_img" />
                                                                </div>
                                                                <div class="jp_job_post_right_cont">
                                                                    <h4>{{jobs.title}}</h4>
                                                                    <p>{{jobs.category}}</p>
                                                                    <ul>
                                                                        {% if jobs.money %}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; {{jobs.money}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                        {% if jobs.address %}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; {{jobs.address}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <div class="jp_job_post_right_btn_wrapper">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                        <li><a href="#">Apply</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp_job_post_keyword_wrapper">
                                                        <ul>
                                                            <li><i class="fa fa-tags"></i>Keywords :</li>
                                                            <li><a href="#">ui designer,</a></li>
                                                            <li><a href="#">developer,</a></li>
                                                            <li><a href="#">senior</a></li>
                                                            <li><a href="#">it company,</a></li>
                                                            <li><a href="#">design,</a></li>
                                                            <li><a href="#">call center</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                                                    <div class="jp_job_post_main_wrapper">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <div class="jp_job_post_side_img">
                                                                    <img src="{{ jobs.image.url }}" alt="post_img" />
                                                                </div>
                                                                <div class="jp_job_post_right_cont">
                                                                    <h4>{{ jobs.title }}</h4>
                                                                    <p>{{ jobs.category }}</p>
                                                                    <ul>
                                                                        {% if jobs.money %}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; {{jobs.money}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                        {% if jobs.address %}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; {{jobs.address}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <div class="jp_job_post_right_btn_wrapper">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                                        <li><a href="#">Apply</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp_job_post_keyword_wrapper">
                                                        <ul>
                                                            <li><i class="fa fa-tags"></i>Keywords :</li>
                                                            <li><a href="#">ui designer,</a></li>
                                                            <li><a href="#">developer,</a></li>
                                                            <li><a href="#">senior</a></li>
                                                            <li><a href="#">it company,</a></li>
                                                            <li><a href="#">design,</a></li>
                                                            <li><a href="#">call center</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="jp_job_post_main_wrapper_cont jp_job_post_grid_main_wrapper_cont">
                                                    <div class="jp_job_post_main_wrapper">
                                                        <div class="row">
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                                                <div class="jp_job_post_side_img">
                                                                    <img src="{{ jobs.image.url }}" alt="post_img" />
                                                                </div>
                                                                <div class="jp_job_post_right_cont">
                                                                    <h4>{{ jobs.title}}</h4>
                                                                    <p>{{ jobs.category }}</p>
                                                                    <ul>
                                                                        {% if jobs.money%}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; {{jobs.money}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-cc-paypal"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                        {% if jobs.address%}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; {{jobs.address}}</li>
                                                                        {% else %}
                                                                        <li><i class="fa fa-map-marker"></i>&nbsp; Неизвестно</li>
                                                                        {% endif %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                                <div class="jp_job_post_right_btn_wrapper">
                                                                    <ul>
                                                                        <li><a href="#">Apply</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="jp_job_post_keyword_wrapper">
                                                        <ul>
                                                            <li><i class="fa fa-tags"></i>Keywords :</li>
                                                            <li><a href="#">ui designer,</a></li>
                                                            <li><a href="#">developer,</a></li>
                                                            <li><a href="#">senior</a></li>
                                                            <li><a href="#">it company,</a></li>
                                                            <li><a href="#">design,</a></li>
                                                            <li><a href="#">call center</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_rightside_listing_single_wrapper">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Обзор работы</h4>
                                </div>
                                <div class="jp_jop_overview_img_wrapper">
                                    <div class="jp_jop_overview_img">
                                        <img src="{{ job.image.url }}" width="300px" height="300px" alt="post_img" />
                                    </div>
                                </div>
                                <div class="jp_job_listing_single_post_right_cont">
                                    <div class="jp_job_listing_single_post_right_cont_wrapper">
                                        <h4>{{ job.title }}</h4>
                                        <p>{{ job.description}}</p>
                                    </div>
                                </div>
                                <div class="jp_listing_overview_list_outside_main_wrapper">
                                    <div class="jp_listing_overview_list_main_wrapper">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Дата Отправки:</li>
                                                <li>{{ job.created_at }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Расположение:</li>
                                                {% if job.address %}
                                                <li>{{job.address}}</li>
                                                {% else %}
                                                <li>Неизвестно</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-info-circle"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Должность:</li>
                                                {% if job.work%}
                                                <li>{{job.work }}</li>
                                                {% else %}
                                                <li>{{job.title }}</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Часы работы:</li> 
                                                {% if job.oclock %}
                                                <li>{{job.oclock}}</li>
                                                {% else %}
                                                <li>Неизвестно</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-money"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Зарплата::</li>
                                                {% if job.money %}
                                                <li>{{job.money}}</li>
                                                {% else %}
                                                <li>Неизвестно</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-th-large"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Категория::</li>
                                                <li>{{job.category}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_overview_list_main_wrapper jp_listing_overview_list_main_wrapper2">
                                        <div class="jp_listing_list_icon">
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="jp_listing_list_icon_cont_wrapper">
                                            <ul>
                                                <li>Опыт:</li>
                                                {% if job.experience %}
                                                <li>{{job.experience}}</li>
                                                {% else %}
                                                <li>Неизвестно</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="jp_listing_right_bar_btn_wrapper">
                                        <div class="jp_listing_right_bar_btn">
                                            <ul>
                                                <li><a href="{% url 'cv'%}"><i class="fa fa-plus-circle"></i>Подать Заявку</a></li>
                                                <li><a href="{% url 'index' %}"><i ></i>Посмотреть другие ваканции</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'include/footer.html' %}

{% endblock %}