
{% load static  %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{setting.title}}</title>
    <!-- Favicon icon -->
    <link rel="icon" type="{{settings.logo.url}}" sizes="16x16" href="{{setting.logo.url}}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}">
</head>

<body class="dashboard">

<div id="preloader">
    <i>.</i>
    <i>.</i>
    <i>.</i>
</div>

<div id="main-wrapper">

    <div class="header">
    <div class="container">
       <div class="row">
          <div class="col-xxl-12">
             <div class="header-content">
                <div class="header-left">
                   <div class="brand-logo"><a class="mini-logo" href="/"><img src="{% static 'profile/images/logoi.png' %}" alt="" width="40"></a></div>
                   <div class="search">
                      <form action="#">
                         <div class="input-group"><input type="text" class="form-control" placeholder="Search Here"><span class="input-group-text"><i class="ri-search-line"></i></span></div>
                      </form>
                   </div>
                </div>
                <div class="header-right">
                   <div class="dark-light-toggle"><span class="dark"><i class="ri-moon-line"></i></span><span class="light"><i class="ri-sun-line"></i></span></div>
                   
                   <div class="dropdown profile_log dropdown">
                      <div data-toggle="dropdown" aria-haspopup="true" class="" aria-expanded="false">
                         <div class="user icon-menu active"><span><i class="ri-user-line"></i></span></div>
                      </div>
                      <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu dropdown-menu-right">
                         <div class="user-email">
                            <div class="user">
                               <span class="thumb"><img {% if user.profile_image %} src="{{user.profile_image.url}}" {% else %} src="{% static 'profile/logo_hahas.png' %}"  {% endif %}  alt=""></span>
                               <div class="user-info">
                                  <h5>{{user.username}}</h5>
                                  <span> bn </span>
                               </div>
                            </div>
                         </div>
                         <a class="dropdown-item" ><span><i class="ri-user-line"></i></span>{{user.first_name}}</a>
                         <a class="dropdown-item" ><span><i class="ri-mail-send-line"></i></span>{{user.email}}</a>
                         <a class="dropdown-item" ><span><i class="ri-phone-line"></i></span>{{user.phone}}</a>
                         <a class="dropdown-item" ><span><i class="ri-map-pin-line"></i></span>{{user.address}}</a>
                         <a class="dropdown-item logout" href="{% url 'logout' %}"><i class="ri-logout-circle-line"></i>Выйти из аккаунта</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>

    <div class="sidebar">
    <div class="brand-logo"><a class="full-logo" href="/"><img src="{% static 'profile/images/logoi.png' %}" alt="" width="30"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{% url 'index' %}">
                    <span><i class="ri-home-5-line"></i></span>
                    <span class="nav-text">Главная страница</span>
                </a>
            </li>
            {% comment %} <li><a href="/balance.html">
                    <span><i class="ri-wallet-line"></i></span>
                    <span class="nav-text">Wallet</span>
                </a>
            </li>
            <li><a href="/bill.html">
                    <span><i class="ri-secure-payment-line"></i></span>
                    <span class="nav-text">Payment</span>
                </a>
            </li>
            <li><a href="/invoice.html">
                    <span><i class="ri-file-copy-2-line"></i></span>
                    <span class="nav-text">Invoice</span>
                </a>
            </li>
            <li><a href="/settings-profile.html">
                    <span><i class="ri-settings-3-line"></i></span>
                    <span class="nav-text">Settings</span>
                </a>
            </li>
            {% endcomment %}
            <li class="logout"><a href="{% url 'logout' %}">
                    <span><i class="ri-logout-circle-line"></i></span>
                    <span class="nav-text">Выйти</span>
                </a>
            </li> 
        </ul>
    </div>
</div>

    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-title">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-4">
                                <div class="page-title-content">
                                    <h3>Профиль</h3>
                                    <p class="mb-2">Добро пожаловать в Профиль {{setting.title}}</p>
                                </div>
                            </div>
                            <div class="col-auto">
                                <div class="breadcrumbs"><a href="{% url 'index'%}">Главная страница </a><span><i
                                            class="ri-arrow-right-s-line"></i></span><a href="{% url 'profile' request.user.id %}">Профиль</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12">
                    <div class="settings-menu">
    <a href="settings-profile.html">Профиль </a>
    {% comment %} <a href="settings-application.html">Application</a>
    <a href="settings-security.html">Security</a>
    <a href="settings-activity.html">Activity</a>
    <!-- <a href="settings-privacy.html">Privacy</a> -->
    <a href="settings-payment-method.html">Payment Method</a>
    <a href="settings-api.html">API</a>
    <!-- <a href="settings-fees.html">Fees</a> -->
</div> {% endcomment %}
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Профиль пользователя</h4>
                                </div>
                                <div class="card-body">
                                    <form method = "POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row g-3">
                                            <div class="col-xxl-12 col-12 mb-3">
                                                <label class="form-label">Имя пользователя</label>
                                                <input type="text" name = "username" class="form-control" {% if user.username %} value="{{user.username}}" {% else %} placeholder="admin" {% endif %}>
                                            </div>
                                            {% if user.profile_image%}
                                            <div class="col-xxl-12 col-12 mb-3">
                                                <div class="d-flex align-items-center">
                                                    <img class="me-3 rounded-circle me-0 me-sm-3"
                                                        src="{{user.profile_image.url}}" width="55" height="55" alt="">
                                                    <div class="media-body">
                                                        <h4 class="mb-0">{{user.username}}</h4>
                                                        <p class="mb-0">Максимальный размер фотографии 20мб
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="col-xxl-12 col-12 mb-3">
                                                <div class="d-flex align-items-center">
                                                    <img class="me-3 rounded-circle me-0 me-sm-3"
                                                        src="{% static 'profile/logo_ha.png' %}" width="55" height="55" alt="">
                                                    <div class="media-body">
                                                        <h4 class="mb-0">{{user.username}}</h4>
                                                        <p class="mb-0">Максимальный размер фотографии 20мб
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="col-xxl-12 col-12 mb-3">
                                                <div class="form-file">
                                                    <input name="profile_image" type="file" class="form-file-input" >
                                                    
                                                </div>
                                            </div>
                                            <div class="col-xxl-12 col-12 mb-3">
                                                <button name = "profile_images" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Сменить пароль </h4>
                                </div>
                                <div class="card-body">
                                    <form method="POST">
                                        {%csrf_token%}
                                        <div class="row g-3">
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Старый пароль</label>
                                                <input name = "old_password" type="password" class="form-control" placeholder="**********">
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Новый пароль</label>
                                                <input type="new_password" name = "new_password1" class="form-control" placeholder="**********">
                                            </div>
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Потвердите пароль</label>
                                                <input name = "new_password2" type="password" class="form-control" placeholder="**********">
                                            </div>
                                            <div class="col-12 col-12 mb-3">
                                                <button type="submit" class="btn btn-primary">Сохранить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Персональная информация
                                    </h4>
                                </div>
                                <div class="card-body">
                                    <form method="post" >
                                        {% csrf_token %}
                                        <div class="row g-4">
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="form-label">Полное Имя</label>
                                                <input type="text" class="form-control" {% if user.first_name %} value="{{user.first_name}}" {% else %} placeholder="Эркинбаев Нурболот Ильязбекович" {% endif %}
                                                    name="first_name">
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="form-label">Почта</label>
                                                <input type="email" class="form-control" {% if user.email %} value="{{user.email}}" {% else %} placeholder="example@gmail.com" {% endif %}
                                                    name="email">
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="form-label">Телефонный номер</label>
                                                <input type="text" class="form-control" {% if user.phone %} value="{{user.phone}}" {% else %} placeholder="0999-99-99-99" {% endif %}
                                                    name="phone">
                                            </div>
                                            <div class="col-xxl-6 col-xl-6 col-lg-6">
                                                <label class="form-label">Город</label>
                                                <input type="text" class="form-control"{% if user.address %} value="{{user.address}}" {% else %} placeholder="ОШ" {% endif %}
                                                    name="address">
                                            </div>
                                            <div class="col-12">
                                                <button  name="update_account" class="btn btn-primary pl-5 pr-5">Сохранить</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<script src="{% static 'profile/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'profile/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


<script src="{% static 'profile/js/scripts.js' %}"></script>


</body>

</html>